*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mission {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: auto;
  border: 1px solid #ddd;
}

.mission:nth-child(odd) {
  background: #f0eded;
}

.mission-name {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 12px;
  padding-top: 4px;
  padding-left: 4px;
}

.mission-desc {
  grid-column-start: 2;
  grid-column-end: 10;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 12px;
  padding: 0 5px;
  padding-bottom: 10px;
}

.mission-btn {
  align-self: center;
  justify-self: center;
}

.member-status {
  grid-column-start: 10;
  grid-column-end: 11;
  border-right: 1px solid #ddd;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-cancel-btn {
  grid-column-start: 11;
  grid-column-end: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: fit-content;
  font-size: 10px;
  padding: 5px;
  border-radius: 4px;
}

.active-member {
  background: #0290ff;
  color: #fff;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 4px;
}

.inactive-member {
  background: #888;
  color: #fff;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 4px;
}

.cancel-mission {
  border: 1px solid #e60f0f;
  color: #e60f0f;
}

.join-mission {
  border: 1px solid #999;
  color: #555;
}
